body {
    background-image: url('./assets/com.demensdeum.main.background.texture.jpg');
    background-color: black;    
    margin: 0;
    overflow: hidden;
}
#css-canvas {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
}
canvas {
    z-index: 0;
    position: absolute;
    background-color: transparent;
    display: block;
}
.moveGUI { 
    position: absolute;
    top: 6em;
    right: 8em;
    transform: scale(2.2);
    display: none;
}
.mapGUI {
    display: none;
    position: absolute;
    width: 312px;
    height: 312px;
    bottom: 6em;
    right: 2em;
    background-color: transparent;   
    opacity: 0.69; 
}

.gameplayGUI {
    display: none;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 32px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 32px;
    text-align: center;
    opacity: 0.85;
    color: white;
    text-shadow: 1px 1px 1px black;
    width: 15%;
    z-index: 2;
}
.guiButton {
    width: 80%;
}
.companyLogoContainer {
    display: none;    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 5;
}
.companyLogo {
    width: 100%;
    position: absolute;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);    
}
.versionGUI {
    font-family: "Arial", sans-serif;
    font-weight: bold;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    text-align: left;
    opacity: 0.85;
    color: white;
    text-shadow: 1px 1px 1px black;
    z-index: 3;
}
.yandexCopyrightGUI {
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 4;
}