* {
    -webkit-touch-callout: none;
}

body {
    -webkit-touch-callout: none;
    background-image: url('./assets/com.demensdeum.main.background.texture.jpg');
    background-color: black;    
    margin: 0;
    overflow: hidden;
}

#css-canvas-bottom {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 0;
}

canvas {
    -webkit-touch-callout: none;
    position: absolute;
    background-color: transparent;
    display: block;
    z-index: 1;
}

#css-canvas-top {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    z-index: 2;
}

.moveGUI { 
    -webkit-touch-callout: none;
    position: absolute;
    top: 6em;
    right: 8em;
    transform: scale(2.2);
    display: none;
    z-index: 3;
}

.gameplayGUI {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;    
    display: none;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 32px;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 32px;
    text-align: center;
    opacity: 0.85;
    color: white;
    text-shadow: 1px 1px 1px black;
    width: 15%;
    z-index: 4;
}

.guiButton {
    width: 80%;
    -webkit-touch-callout: none;
}

.companyLogoContainer {
    -webkit-touch-callout: none;
    display: none;    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222222;
    z-index: 5;
}

.companyLogo {
    -webkit-touch-callout: none;
    width: 100%;
    margin: 0;  
}

.versionGUI {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    text-align: left;
    opacity: 0.85;
    color: white;
    text-shadow: 1px 1px 1px black;
    z-index: 6;
}

.yandexCopyrightGUI {
    -webkit-touch-callout: none;
    display: none;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 7;
}