[Desktop Entry]
Comment[en_US]=
Comment=
Exec=code-oss /home/demensdeum_stream/Sources/Masonry-AR/
GenericName[en_US]=
GenericName=
Icon=system-run
MimeType=
Name[en_US]=Editor
Name=Editor
Path=.
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
